{% extends 'shop/layouts/main.html'%}
{% load static %}
{% block style%}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock style%}
{% block content%}


<div class="heading">
    <div class="subheading">
        <h1>Shop<span>in</span></h1>
    </div>
    <div class="subcondent">
        <h1>Customer Service</h1>
        <p>At Shopin, we are dedicated to providing outstanding customer service and support. We want to ensure that your shopping experience with us is enjoyable, hassle-free, and exceeds your expectations. If you have any questions, concerns, or need assistance, please don't hesitate to reach out to our friendly customer service team.<br>Phone: 936054192</p>
        <h1>Contact Us</h1>
        <p>Our customer support helpline is available Monday to Friday from 9am to 6pm. Our knowledgeable representatives are ready to assist you with any inquiries you may have. Whether you need help with product information, order tracking, or returns, we're here to help.</p>
        <h1>Email Support</h1>
        <p>Prefer to reach us via email? No problem! Our team is just an email away. We strive to respond to all inquiries within 1hour during Monday to Friday.</p>
        <h1>Returns and Refunds</h1>
        <p>We understand that sometimes things don't go as planned. If you're not satisfied with your purchase or have received a faulty item, our hassle-free return policy ensures that you can return eligible products within 3 days of delivery.</p>
        <h1>Privacy and Security</h1>
        <p>We take your privacy and the security of your information seriously. Our website employs industry-standard security measures to safeguard your personal data. For more details, please review our Privacy Policy.</p>
        <h1>Feedback and Suggestions</h1>
        <p>Your feedback is valuable to us, and it helps us improve our services. If you have any suggestions or comments on how we can enhance your shopping experience, we'd love to hear from you.</p>
        <p>Contact: manojking610@gmail.com</p>
        
        


    
    
    </div>
    

</div>






{% endblock content %}
