

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    


}
.landing{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(255, 255, 255);
   
}
.logo a{
    font-size: 30px;
    margin: 15px;
    padding: 7px;
    text-decoration: none;
    color: wheat;

    
}
.logo a:hover{
    border: 1px solid white;

}
.logo a span{
    color: aqua;
}

.header {
    display: flex;
    background-color: rgb(50, 143, 215);
    align-items: center;
    height: 60px;
    width: 100;
    overflow: hidden;
    position: sticky;
    top: 0px;
    
    
}   

.logo{
    flex: 2;
}

.searchbar .search{
    
    flex: 4;
    width: 550px;
    height: 42px;
    
    border: none;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border: 3px solid wheat;
    border-right: none;
    

}

.searchbar .btn{
    height: 42px;
    background-color: white;
    border: none;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    border: 3px solid wheat;
    border-left: none;

    
    
    
        
}
#search{
    width: 50px;
    cursor: pointer;
    font-size: 20px;
    background-color: white;
    
    
}
.nav {
    flex: 3;
    display: flex;
    align-items:center;
}
#sign{
    font-size: 20px;
    padding-right: 10px;
}
#cart{
    color: wheat;
    font-size: 30px;
}
.nav a{
    flex: 1;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
    padding: 12px;
    margin-right: 2px;
    
}
.searchbar{
    margin-right: 50px;
    display: flex;
    
    
}

.nav a:hover{
    border: 1px solid white;
}
.subbar{
    
    background-color: rgb(46, 46, 71);
    display: flex;
    height: 40px;
    width: 100%;
    justify-content: center;
    
    
    
    
    

    
}
.subbar a{
    text-decoration: none;
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
    color: white;
     
}
.subbar a:hover{
    
    margin: 4px;
    background-color:rgb(50, 143, 215);
    transition: .3s;
    
    
}




*{
    margin: 0%;
    padding: 0%;


}
.slider{
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color:  rgb(46, 46, 71);
    transition: .3s;
    z-index: 9999;

}
.headerbar {
    
    text-align: center;
    
 
}
.headerbar a{
    color: wheat;
    line-height: 65px;
    text-decoration: none;
    font-size: 20px;
}
.slider ul a{
    display: block;
    color: white;
    text-decoration: none;
    line-height: 60px;
    border-bottom: 1px solid rgb(28, 28, 30);
    border-top: 1px solid rgb(13, 13, 14);
    padding-left: 20px;
    transition: .3s;
    

}
.slider ul a:hover{
    padding-left: 30px;

}
#check{
    display: none;
    
    
  
}
label #bar,label #cancel{
    cursor: pointer;
    
    
}
label #cancel{
    cursor: pointer;
    position: fixed;
    top: 10%;
    z-index: 99999;
}
#bar{
    
    font-size: 20px;
    color: white;
    display: flex;
    padding: 10px 20px ;
    
    
        
}
#bar:hover{
    background-color: rgb(15, 15, 54);
    color: wheat;

    
    
}

#cancel{
   
    display: flex;
    left: -200px;
    bottom: 35px;
    color: white;
    transition: .3s;
}
#check:checked ~ .slider{
    left: 0;

}
#check:checked ~ label #cancel{
    left: 230px;
}



.product_container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px ,1fr));
    padding: 20px;
    gap: 20px;


}
.product{
    background-color: white;
    box-shadow: 0 0 5px rgb(0,0,0,.5);
    text-align: center;
    overflow: hidden;

  
}

.product img{
    height: 300px;
    object-fit: cover;
    cursor: pointer;
    
    
   
    
}
.first{
    background-color: rgb(0,0,0,0.1);
}
.product:hover{
    box-shadow: 0 0 15px rgb(0,0,0,.5);

}




.maincontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 84.5vh;
    background: url("/static/images/pexels-francesco-ungaro-1525041.jpg");
    background-size:cover ;

}

.container{
    width: 100%;
    max-width: 300px;
    padding: 10px 20px;
    background: transparent;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgb(255, 255, 255,.5);
    box-shadow: 0 0 20px rgb(0,0,0,.5);
    
    
}

.reghed{
    display: flex;
    padding: 10px ;
    font-size: 30px;
    color: rgb(0, 0, 0);
    border-bottom: 2px solid rgb(192, 186, 186);
    justify-content: center;
    align-items: center;
  
}



.content{
    display: block;
}

.mainhead{
    display: flex;
    gap: 50px;
    justify-content: space-between;
   
    
}

.maindetail1{
   
    display: block;
    width: 100%;
    justify-content: space-between;
    padding: 10px 0;

  
}
.mainhead .detail{
    padding-top: 10px;
}

.detail{
    position: relative;
    display: flex;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid black;
    
 
    
    
}

.detail input::placeholder{
    color: black;
}
.detail label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-20%);
    font-size: 20px;
    width: 100%;
    color: rgb(0, 0, 0);
    transition: .5s;
}

.detail input{
    width: 100%;
    padding: 8px;
    border: none;
    outline: none;
    z-index: 99;
    font-size: 18px;
    background: transparent;
   
    
}


.detail input:focus~label,
.detail input:valid~label{
    top: 5px;
}


.location{
    display: flex;
    gap: 10px;
   
}
.location .detail{
    width: 130px;
}
.location input{
    width: 100%;
    padding: 10px;
}

#id_gender_0,#id_gender_1,#id_gender_2{
    cursor: pointer;
}
#id_gender label{
    cursor: pointer;
}

#gender #id_gender{
    padding: 10px 0;
    display: flex;
    gap: 30px;
  
}

.regbtn{
    width: 100%;
    padding: 8px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    background: rgb(221, 91, 91);
}

.regcls{
    padding-top: 30px;
}

.noacc{
    padding: 20px 0;
    color: rgb(0, 0, 0);
}
.signup{
    padding: 10px;
    color: rgb(65, 88, 203);;
    text-decoration: none;
}


@media(max-width:600px){
    .container{
        max-width: 250px;

    }
    .mainhead{
        display: block;
        max-height: 280px;
        overflow: auto;
    }
    .maindetail1,.maindetail2{
        padding: 0px;
        padding-top: 10px;
    }
    .mainhead::-webkit-scrollbar{
        width: 0px;
    }
}












/* .regpage{
    margin: 0%;
  
    
    

    
}

.reghed{
    margin: auto 150px;
    padding: 10px;
    font-size: 30px;
    align-items: center;
    border-bottom: 2px solid rgb(130, 127, 127);

}
.content{
    
    margin: auto 150px;
    margin-top: 30px;
    padding: 10px;
    font-size: 30px;
    align-items: center;
   
    

}

.regpage h1{
    border-bottom: 2px solid black;
}

.detail label{
    display: block;
    font-size: 20px;
    margin-top: 20px;
}
.errorlist{
    font-size: 15px;
    color: red;
    padding: 0%;
    margin: 0%;
}

.detail input{
    width: 50%;
    padding: 5px;
    
    
}

.regbtn{
    margin-top: 20px;
    padding: 7px;
    background: rgb(56, 89, 207);
    color: white;
    border: none;
    border-radius: 2px;
    font-size: 13px;
    cursor: pointer;
}

.content p{
    font-size: 15px;
    margin-top: 5px;
}

.login{

    color: rgb(56, 89, 207);
    text-decoration: none;
} */












